export(iterClust)
export(featureSelect)
export(coreClust)
export(clustEval)
export(clustHetero)
export(obsEval)
export(obsOutlier)
importFrom(methods,is)
importFrom(Biobase,exprs)
importFrom(cluster,pam)
importFrom(cluster,silhouette)
importFrom(stats,cor)
importFrom(stats,as.dist)